body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:117px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u0_img.mouseOver {
}
#u0.mouseOver {
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:182px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u1_img.mouseOver {
}
#u1.mouseOver {
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:247px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:312px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:377px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:442px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:66px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:507px;
  width:300px;
  height:65px;
  color:#FFFFFF;
  text-align:left;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:296px;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:181px;
  width:274px;
  height:1px;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:246px;
  width:274px;
  height:1px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:311px;
  width:274px;
  height:1px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:376px;
  width:274px;
  height:1px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:441px;
  width:274px;
  height:1px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:2px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:507px;
  width:274px;
  height:1px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:258px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:227px;
  width:464px;
  height:257px;
}
#u13_img.selected {
}
#u13.selected {
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:460px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:184px;
  width:116px;
  height:43px;
}
#u14_img.selected {
}
#u14.selected {
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:912px;
  top:184px;
  width:116px;
  height:43px;
}
#u15_img.selected {
}
#u15.selected {
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:184px;
  width:116px;
  height:43px;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:1144px;
  top:184px;
  width:116px;
  height:43px;
}
#u17_img.selected {
}
#u17.selected {
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:112px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:258px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:227px;
  width:464px;
  height:257px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:460px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:258px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:227px;
  width:464px;
  height:257px;
}
#u19_img.selected {
}
#u19.selected {
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:460px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:465px;
  height:258px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:227px;
  width:464px;
  height:257px;
}
#u20_img.selected {
}
#u20.selected {
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:120px;
  width:460px;
  word-wrap:break-word;
}
